

.service{ 
  width: 23%;
  @media screen and (max-width:480px){
    width: 45%;
  }
  &:hover{
    p { color: $mainColor}
  }
  .service__icon{
    display: inline-block; background-color: $greyAccent;
    width: 120px; height: 120px; position: relative;

    img,svg{
      fill: black; stroke: black; display: block; z-index: 40;
      width: 50%; height: 50%; padding: 25%; position: relative;
    }
    
    @include clipPath(polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%));
    @include transitionsAll(0.3s);

    @media screen and (max-width:480px){ width: 70px; height: 70px; }
    
    &:hover{ 
      background-color:$subColor;
      svg{fill: white; stroke: white; }
    }

    &:hover::after{
      animation: easeBG 0.3s ease-in 0.1s forwards;
      @include clipPath(polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%));
      @include absoluteEqualPosition(1px);
      content: ""; background: $greyAccent;

    }
    @keyframes easeBG {
      from{ background-color:$greyAccent; }
      to{ background-color:$mainColor; }
    }
  }
  p{ color: #000; margin: 5px auto; max-width: 70px;  }
}



.section-title{
  @include dotedUnderline(solid , $mainColor , 2px, 1.5, $mainFontSize);
  font-size: 1.5rem;
  @media screen and (max-width:480px) {
    @include dotedUnderline(solid , $mainColor , 1px, 1, $mobileFontSize);
    font-size: 1rem;
  }
}
