
#faq-about{
  margin: 20px 0 40px;
  .container{
    display: flex; flex-direction: row-reverse; justify-content: space-between; text-align: right;

    @media screen and (max-width : 480px){ flex-flow: row; flex-wrap: wrap; }

    div{
      width: 45%;
      
      @media screen and (max-width : 480px){
        width: 100%
      }

      &#faq{
        a{
          float: left; color: $mainColor; text-decoration: none; font-weight: 800; margin-top: 1.5rem;

          @media screen and (max-width : 480px){
            margin-top: 1rem;
          }

          &:hover{
            color: lighten( $mainColor , 10%);
          }
        }

        .accordion{
          position:relative;
          width: 100%; margin-top:20px;
          box-sizing: border-box;
          dl{

            dt{
              a.accordionTitle{
                background-color:$greyAccent; color:black; margin: 2px 0; 
                text-align:right; font-weight:700; padding:0.8rem;
                display:block; text-decoration:none; width: 100%;

                @include transitionsAll(0.3s);
                
                box-sizing: border-box;
                border-radius: $borderRadius;

                &:before {
                  content: "+";
                  font-size:1.5rem;
                  line-height:0.8rem;
                  float:left; 
                  @include transitionsAll(0.3s);
                }
                &:hover { background-color:darken($greyAccent, 10%); }

                &.is-expanded {
                  background-color:$mainColor;
                  color: $textColorMain;
                  &:before { transform:rotate(-225deg); }
                }
              }
            }

            dd{
              margin: 0;
              p { line-height: 1.5rem;}

              &.accordionItem{ 
                
                width: 100%; height:auto; overflow:hidden;  max-height:50rem; transition:max-height 1s;
                
                @media screen and (min-width:480px) {
                  max-height:15rem; transition:max-height 0.5s
                }
                
                &.is-collapsed{ max-height:0; }
              }

            }
          }
          
        }

        .no-js .accordionItem.is-collapsed { max-height: auto; }
        .animateIn { animation: accordionIn 0.45s normal ease-in-out both 1; }
        .animateOut { animation: accordionOut 0.45s alternate ease-in-out both 1; }
        
        @keyframes accordionIn {
          0% { opacity: 0; transform:scale(0.9) rotateX(-60deg); transform-origin: 50% 0; }
          100% { opacity:1; transform:scale(1); }
        }
        
        @keyframes accordionOut {
          0% { opacity: 1; transform:scale(1); }
          100% { opacity:0; transform:scale(0.9) rotateX(-60deg); }
        }

      }

      &#vid{
        .video-responsive{ 

          margin-top: 20px; float: none; clear: both; width: 100%; position: relative; 
          padding-bottom: 56.25%; padding-top: 25px; height: 0;

          iframe,object,embed { left:0; top:0; height:100%; width:100%; position:absolute; }
        }
      }
    }
  }
}