#top-bar{
  background: linear-gradient(-45deg, $mainColor 50%,$subColor 50%);

  .container {
    display: flex; height: 50px; justify-content: space-between;
    @media screen and(max-width: 480px) { height: 30px; }

    .icon-set{ 
      display: flex; 

      &:first-child{
        @media screen and(max-width: 480px) { display: none; }
      }

      &:last-child{
        @media screen and(max-width: 480px) { 
          justify-content: space-between;
          width: 100%;

          div { border: none; } 
        }
      }
      
      .icon-sub-set{ 
        display: flex; align-self: center; border-right: dotted $textColorMain 2px; 
        span { color: $textColorMain ; padding: 0 10px; margin-top: 5px;
          @media screen and(max-width: 480px) {  margin-top: 3px;}
        } 
        &:last-child{ border-right: none; }
      }

      a{
        font-size: 2rem; text-decoration: none; color: $textColorMain;
        width: 30px; height: 30px; margin: 0 5px;
        @media screen and(max-width: 480px) { height: 20px; margin: 0; line-height: 20px;}
        @include transitionsAll(0.3s);

        &:hover { transform: rotate(360deg); }
        img {width: 100%; height: 100%;}
      }
    }
  }
}

#logos{
  height: 100px; display: flex; justify-content: space-between;

  img{ height: 80%; margin-top: 10px; }
}

nav{
  background-color: $mainColor; z-index: 10; border-radius: 5px;
  display: flex;  justify-content: space-between;  position: relative;  
  
  @media screen and(max-width: 1000px) { padding: 10px 0; }
    
  #menu{

    #hamburger{
      display: none; width: 30px; height: 100%; margin-right: 10px; position: relative;
      background-color: darken($mainColor, 10%); border-radius: 5px; z-index: 1;
      cursor: pointer;

      @include transitionsAll(0.3s);
      @extend .flex-center;

      @media screen and(max-width: 1000px){ display: block; } 
      
      div{
        position: relative; background: $subColor;
        flex: none; height: 2px; width: 20px; margin: auto; bottom: 15px;

        @include transitionsAll(0.3s);
        @extend .flex-center;
        
        &:before, &:after {
          content: ''; position: absolute; z-index: 1; left: 0;
          width: 100%; height:2px; background: inherit;

          @include transitionsAll(0.3s);
        }
        &::before{ top: 6px; }
        &::after{ top: -6px; }
      }
    }
    
    .checkbox-toggle{
      display: none; float: right; margin-right: 10px; z-index: 2;
      cursor: pointer; width: 30px; height: 100%; opacity: 0; position: relative;

      @media screen and(max-width: 1000px){   display: block; } 

      &:checked{
        display: block;
        
        & + #hamburger {
          background-color: $subColor;
          div {
            background-color: $mainColor;
            transform: rotate(135deg);
            &:before, &:after { 
              top: 0; transform: rotate(90deg);background-color: $mainColor;
            }
          }
        }

        & ~ ul{
          display: flex; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
          background: transparentize(darken($mainColor,10%), 0.1); padding: 50px;
          margin: 0; flex-direction: column; justify-content: flex-start;

          li{
            margin: 10px 0;
            @include  transitionsAll(0.3s);
            
            &:after{content: '';}

            &:hover{margin: 15px;}

            a{

              padding: 5px;
              &:hover{
                color: lighten($subColor, 30%);
                background: none;
              }
            }
          }
        }
      }
    }

    ul {
      display: flex; flex-direction: row-reverse; justify-content: space-around;
      list-style: none; margin-right: 10px;
      background: none;
      @include  transitionsAll(0.3s);
      
      @media screen and(max-width: 1000px){ display: none; }

      li{
        @include  transitionsAll(0.3s);
      
        &:not(:first-child):after{
          content: "."; font-size: 4em; color: $subColor; line-height: 0;
        }
      
        a{
          color: $textColorMain; text-decoration: none ; background-color: unset;
          margin: 5px; padding: 5px 15px; border-radius: 5px;
          
          position: relative;z-index: 1;
          @include  transitionsAll(0.5s);
          
          // &:hover{  background-color: $subColor; }
          &:before {
            content: "";
            position: absolute;
            border-radius: 5px;
            background: $subColor;
            bottom: 0;
            left: 100%;
            right: 0;
            top: 100%;
            z-index: -1;
            @include  transitionsAll(0.2s);
          }
          
          &:hover:before {
            top: 0; left: 0;
          }
        }
      }
    }
  }
  
  #search-input{
    align-self: center; margin-left: 10px;
    input{
      background-color: #003463; border: none; border-radius: 5px;
      background-image: url('../img/if_search.svg');
      background-position: 8px 8px; background-size: 24px 24px;
      background-repeat: no-repeat; direction: rtl; color: $textColorMain;
      padding: 7px; padding-left: 40px;
      
      @include placeholder { color: $textColorMain; }

      @media screen and (max-width:1000px){
        width: 300px; background-position: 6px 6px; background-size: 18px 18px;
      }
      @media screen and (max-width:480px){ width: 100px; }
    }
  }
}